.p-password {
  width: 100%;

  &:enabled:focus {
    box-shadow: none !important; // sass-lint:disable-line no-important
  }

  .p-password-input {
    width: 100%;
  }

  .pi-eye {
    background-color: transparent;
    color: map-get($colors, fc-grey);
  }

  .fc-password.ng-dirty.ng-invalid & { // sass-lint:disable-line force-element-nesting
    .p-inputtext {
      border-color: map-get($colors, fc-error);
    }
  }

  .requirements {
    &__list {
      padding-left: 18px;
    }
  }
}
